<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="ct" content="<%= ct %>">
    <title>Ejemplo Watson</title>
    <link href="css/watson-bootstrap-style.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="images/favicon.ico" />
  </head>
  <body>
    <!-- top nav section -->
    <div class="navbar-wrapper">

      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <!-- IBM Watson Logo -->
          <div class="navbar-header">
            <a class="navbar-brand no-underline" href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/"><span class="thin-branding">Watson</span> Prueba conversacional</a>
          </div>
        </div><!-- .container -->
      </div><!-- .navbar -->

    </div><!-- .navbar-wrapper -->

    <!-- Service Description Bar -->

    <div class="header">
      <div class="container">
        <div class="col-lg-2 col-md-2 hidden-xs hidden-sm">
          <img src="images/stt.svg" class="service-icon">
        </div><!-- .col-lg-2 -->

        <div class="col-lg-10 col-md-10 col-xs-12">
          <h1>Ejemplo Watson: Escuela de Otoño 2016</h1>
        </div><!-- .col-lg-10 -->
      </div><!-- .container -->
    </div><!-- .header -->
    <!-- Step 1 Section-->
    <div class="container">
      <!-- Step 3 Section-->
      <!-- First column of inputs -->
      <div class="row">
        

        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="audioParent">
              <audio style="display:none" class="audio" controls>
                Your browser does not support the audio element.
              </audio>
            </div>
          </div>
        </div><!-- row -->


        <div class="row">
          <nav class="navbar navbar-inverse">
          <ul class="navbar-text">
            <li id="recordButton" class="button-row nav-inverse-color">
            <img id="microphoneIcon" src="images/microphone.svg" class="icon">
            <span class="nav-label">Grabar Audio</span>
            </li>
          </ul>

          </nav>
        </div>
        <!-- Tab panes -->
        <div class="row" style="  margin: 0;">
          <div class="col-lg-12 col-md-12 col-sm-12" style="padding: 0;">
            <div id="transcription_text" class="well">
              <form autocomplete="off" class="form-horizontal">
                <div role="tabpanel">
                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#home2" aria-controls="home" role="tab" data-toggle="tab">Texto </a></li>
                    <li role="presentation"><a href="#profile2" aria-controls="profile" role="tab" data-toggle="tab">JSON</a></li>
                  </ul>
                  <div class="hr-tab"></div>
                  <fieldset>
                    <div class="row error-row">
                      <div class="col-lg-12">
                        <div id="errorAlert" >
                          <span id="errorMessage"></span>
                          <a class="pull-right" href="#" id="errorClose">&times;</a>
                        </div>
                      </div>
                    </div>

                    <div class="row notification-row">
                      <div class="col-lg-12">
                        <div id="notificationAlert" >
                          <span id="notificationMessage"></span>
                          <a class="pull-right" href="#" id="notificationClose">&times;</a>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row tabpanel-row">
                      <div class="col-lg-12">
                        <div class="tab-content">
                          <div role="tabpanel" class="tab-pane active" id="home2">
                            <textarea readonly id="resultsText" dir="auto"></textarea>
                          </div>
                          <div role="tabpanel" class="tab-pane" id="profile2">
                            <textarea readonly id="resultsJSON"></textarea>
                          </div>
                        </div>
                      </div><!-- .col-lg-12 -->
                    </div>
                  </fieldset>
                </div>
              </form>
            </div>
            <div class="keywords_pane">
              <div class="keywords_title">Keywords Spotted</div>
              <div id="keywords">
                <ul style="margin-top:10px; margin-left:-40px;"></ul>
              </div>
            </div>  
          </div><!-- /.well -->
        </div><!-- /.tabpanel -->

        <div class="col-lg-12 col-md-12 col-sm-12">
          <div style="margin-top:2em;">
            <span style="font-size:1.563em;font-weight:400;color:#323232;-webkit-user-select:none;-moz-user-select:none;">
              Alternativas
            </span>
            <a id="show_alternate_words">Ocultar alternativas</a>
          </div>
          <div style="padding:0;margin-top:1em;">
            <canvas id="canvas" width="960" height="368"/>
            </canvas>
            <div id="confusion-networks">
              <div id="canvas-placeholder">
                Las alternativas se mostrarán poco después que la transcripción del audio haya comenzado.
              </div>
              <input id="vslider" type="range" orient="vertical"/>
            </div>
            <input id="hslider" type="range" style="display:none;"/>
            <img id="left-arrow" src="images/arrow-left-icon-disabled.svg"/>
            <img id="right-arrow" src="images/arrow-right-icon-disabled.svg"/>
          </div>

            <!-- Spacer-->
            <!-- TODO: Move this to CSS-->
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <br><br>
              </div>
            </div>

          </div><!-- /.col -->
        </div><!-- /.row -->
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="audioParent">
              <audio class="audio">
              Your browser does not support the audio element.
              </audio>
            </div>
          </div>
        </div><!-- row -->

      </div><!-- /.container -->

      <!-- for file upload dialog in toolbar -->
      <input style="display:none" type="file" id="fileUploadDialog">

      <!-- Place js files at the end of the document, with fallbacks for CDNs -->
      <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
      <script src="js/index.js"></script>
      <% if (GOOGLE_ANALYTICS_ID) { %>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '<%= GOOGLE_ANALYTICS_ID %>', 'auto');
        ga('send', 'pageview');

      </script>
      <% } %>

  </body>
</html>
